---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*::selection{
  background-color: #a5132a;
  color: #fff;
}
img.center{
  display: block;
  margin: 0 auto;
}
img.left{
  float: left;
  margin: 0 10px 10px 0;
}
img.right{
  float: right;
  margin: 0 0 10px 10px;
  padding: -10px;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.wrapper{
  max-width: 680px;
  padding: 0;
}
.article-container,.contenedor,.archives,.post{
  background: #fff;
  padding: 20px;
  max-width: 640px;
  margin: 0 0 20px 0;
  box-shadow: 4px 4px 0 0 #444;
}
.pagination-nav{
  background: #fff;
  padding: 0px;
  max-width: 680px;
}
.site-header{
  border: 0;
}
.site-header img{
  display: block;
  margin: 0px auto 20px auto;
}
body{
  background: #eee url("/assets/images/fondo.gif");
  font-family: 'Open Sans', sans-serif;
}
.page-content{
  padding-top: 0;
}
.pagination{
  list-style-type: none;
  display:inline-block;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  margin-bottom: -6px;
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
}
.pagination li{
  display:inline-block;
  font-size: 1.2em;
  line-height: 2em;

}
.pagination li a{
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 0;
}
.pagination li.active {
  background: #eee;
  color: white;
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}
h2{
  font-size: 2em;
  margin-bottom: 0;
}
.site-footer{
  border: 0;
  padding-top: 0;
}

.post-meta a{
  color: #828282;
}
.icon{
  vertical-align: middle;
}
.post-header{
  margin-bottom: 20px;
}
.meta-micro{
  margin-bottom: 0;
}
.post-content{
  margin-bottom: 0;
}
ul{
  list-style-type: square;
}
blockquote{
  font-size: 1em;
}
