---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    {{ content }}

  <p class="post-meta meta-micro">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      <span class="icon">{% include icon-date.svg %}</span>
      <a href="{{ microblog.url }}">
      {{ page.date | date: "%d/%m/%Y" }}
      </a>
      &nbsp;<span class="icon">{% include icon-time.svg %}</span>
      {{ page.date | date: "%H:%M" }}
    </time>
  </p>
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
